
.app__post {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1rem;
}

.app__post_container {
    display: flex;
    flex-direction: column;
    width: 25rem;
    gap: 1rem;
    overflow: hidden;
    background-color: aliceblue;
    padding: 1rem;
    align-items: center;
}

.app__post_container img {
    width: 100%;
    border-radius: 10px;
}

.app__posts_date {
    text-align: center;
}

.app__posts_details {
    text-align: justify;
    text-justify: inter-word;
}