.app__posts {
    display: flex;
    flex-direction: row;
}

.app__post {
    display: flex;
    flex-direction: column;
    width: 387px;
    gap: 1rem;
}

.app__posts_date {
    text-align: center;
}

.app__posts_details {
    text-align: justify;
    text-justify: inter-word;
}
